:root {
  --background: hsl(0deg 0% 20%);
  --outline: hsl(0deg 0% 45%);
  --shadow: hsl(0deg 0% 10%);
  --text: hsl(0deg 0% 100%);
  --body: 14px;
  --heading: 21px;
  --outline-offset: 0;
}

:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: var(--background);
}
